@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">@ViewData["Title"]</h1>
    <p class="lead text-center">Bem-vindo ao TechCorp - Sistema de gerenciamento de tarefas e pessoas</p>

    <!-- Seção da Jumbotron -->
    <div class="card mb-4">
        <div class="card-header bg-info text-white">
            <h4>Bem-vindo ao TechCorp</h4>
        </div>
        <div class="card-body text-center">
            <p class="display-4">Sistema de gerenciamento de tarefas e pessoas</p>
        </div>
    </div>

    <!-- Seção Missão e Valores -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h4>Nossa Missão</h4>
                </div>
                <div class="card-body">
                    <p>Desenvolver soluções inovadoras e eficientes para gerenciar tarefas e pessoas, proporcionando um ambiente de trabalho mais produtivo e organizado.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h4>Nossos Valores</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><strong>Inovação:</strong> Sempre buscando novas soluções.</li>
                        <li><strong>Eficiência:</strong> Otimização de processos e tempo.</li>
                        <li><strong>Qualidade:</strong> Foco no alto padrão de nossos serviços e soluções.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Seção Funcionalidades -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center">Funcionalidades</h2>
        </div>
    </div>

    <div class="row mt-4 justify-content-around">
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-body">
                    <i class='bx bx-task' style="font-size: 48px;"></i>
                    <h3 class="mt-3">Gerenciamento de tarefas</h3>
                    <p class="mb-4">Crie, edite e delete tarefas com facilidade</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-body">
                    <i class='bx bx-body' style="font-size: 48px;"></i>
                    <h3 class="mt-3">Gerenciamento de pessoas</h3>
                    <p class="mb-4">Crie, edite e delete pessoas com facilidade</p>
                </div>
            </div>
        </div>
    </div>
</div>
